 /*  this is a class */
.listOfTopics{
  background: gray;
  color: white;
}
 /*  this is an id */

#unorderedListID{
  background-color: #4381e6;
  color:black;
  
}

#bigForm{
  width: 500px;
  border: 1px solid black;
}

#formsID{
  background-color: #4381e6;
  color:black;
  float: left;
  border: 1px;
}
#seconForm{
  background-color: #4381e6;
  color:black;
  float: left;


}/*** */
#thirdForm{
  background-color: #4381e6;
  color:black;
  float: left;
  border: 1px;

}
/********************************* Here start the CSS for project ***********************************/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;  /*** this will reset to default the page css */
}

/*** adding background color and height to the classes **/
.menu {
  height: 100px;
  background-color: #B2D6FF;    /* Medium blue */
}

.sidebar {
  height: 250px;
  background-color: #F09A9D;    /* Red */
}

.content {
  height: 500px;
  /*background-color: #599c38;    /*Green */
}

.footer {
  height: 200px;
  background-color: #D6E9FE;    /* Light blue */
}
/*** moving the sidebar to the left ***/
.sidebar {
  width: 200px;
  height: 250px;
  background-color: #F09A9D;
}
/** get sidebar inside the content block ***/
.sidebar {
  float: left;
  width: 300px;
  height: 300px;
  background-color: #F09A9D;

}
/*** setting a fixed-with to page and reseting margin just incase **/
.page {
  width: 1000px;
  margin: 1 auto;
}
/** setting content block next to sidebar ***/
.content {
  float: left;
  width: 650px;
  height: 500px;
  /*background-color: #8dbf75;*/
  border-radius: 15px;
}
.page {
  width: 900px;
  margin: 1 auto;
/**  border: 1px solid red;*/
}

/***** here we call the clear property to tell class footer
to ignore the flowing and set it back where it was at the begining ***/
.footer {
  clear: both;            /* Add this */
  height: 200px;
  background-color: #D6E9FE;
}
/*** Here we are going to use overflow property to recognize all the floated elements its contains
also to set a background  ***/
.page {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;             /* Add this */
  background-color: #EAEDF0;    /* Add this */
}
/**** Here we are going to move  the background color   to a container
to change the color of the whole background ***/
.page {
  width: 10 00px;
  margin: 0 auto;
}

.container {
  overflow: hidden;
  background-color: #EAEDF0;
}
/*******/

/********* adding style to column ************/
.footer-item {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;
  border-radius: 15px;    /* Medium blue */

}
/*** adding another overflow to tell the footer to ignore the flow ***/
.footer {
  overflow: hidden;
  background-color: rgb(227, 255, 234);

}
.footer-item{
  overflow: hidden;
  max-width: 600px;
  min-width: 100px;
  max-height: 160px;
  height: auto;
  

}

.content{
  padding: 20px;

}
/*** editing information paragraph **/
p {
  margin-bottom: 20px;
  border-radius: 15px;
  font-family: 'Times New Roman';
  font-size: 130%;
}
#contentTypeID{
  font-family: verdana;
  font-size: 90%;

}

.menu {
  padding: 20px;


}
.searchForm{
  margin-bottom:25px;
  border-radius: 15px;

}
.foot-item-image:hover{
  width:300%;
  opacity:0.9;
  max-height: 160px;
  height: auto;
}
.selectorsIMG{
  clear: both;
}
/****************Button***************/
/* Container needed to position the button. Adjust the width as needed */
.footer-item {
  position:relative;
  width: 30%;
}

/* Make the image responsive */
.footer-item img {
  width: 20%;
  height: auto;
  position: relative; 
}

/* Style the button and place it in the middle of the container/image */
.footer-item .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width:100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  background-color: #4381e6;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: .1;
}
.footer-item:hover{
  opacity: .6;
}


