/********************************* Here start the CSS for project ***********************************/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;  /*** this will reset to default the page css */
  }
 body{
   margin:0;
 } 
  /*** adding background color and height to the classes **/
  .menu {
    height: 100px;
    background-color: #B2D6FF;    /* Medium blue */
  }
  
  
  
  .footer {
    height: 200px;
    background-color: #D6E9FE;    /* Light blue */
  }
  /*** moving the sidebar to the left ***/
  .sidebar {
    width: 200px;
    height: 250px;
    /*background-color: #F09A9D;*/
  }
  /** get sidebar inside the content block ***/
  .sidebar {
    float: left;
    width: 300px;
    height: 300px;
   /* background-color: #F09A9D;*/
  
  }
  /*** setting a fixed-with to page and reseting margin just incase **/
  .page {
    width: 1000px;
    margin: 1 auto;
  }
  /** setting content block next to sidebar ***/
  .content {
    float: left;
    width: 650px;
    height: 500px;
    /*background-color: #8dbf75;*/
    border-radius: 15px;
  }
  .page {
    width: 900px;
    margin: 1 auto;
  /**  border: 1px solid red;*/
  }
  
  /***** here we call the clear property to tell class footer
  to ignore the flowing and set it back where it was at the begining ***/
  .footer {
    clear: both;            /* Add this */
    height: 200px;
    background-color: #D6E9FE;
  }
  /*** Here we are going to use overflow property to recognize all the floated elements its contains
  also to set a background  ***/
 
  /**** Here we are going to move  the background color   to a container
  to change the color of the whole background ***/
  .page {
    width: 10 00px;
    margin: 0 auto;
  }
  
  .container {
    overflow: hidden;
    background-color: #EAEDF0;
  }
  /*******/
  
  /********* adding style to column ************/
  .footer-item {
   /* float: left; 
    width: 31%;
    margin: 20px 1.15%;
    height: 160px;
    background-color: #B2D6FF;
    border-radius: 15px;    /* Medium blue */
  
  }
  /*** adding another overflow to tell the footer to ignore the flow ***/
  .footer {
    overflow: hidden;
    background-color: rgb(227, 255, 234);
  
  }
  /*.footer-item{
    overflow: hidden;
    max-width: 600px;
    min-width: 100px;
    max-height: 160px;
    height: auto;
    
  
  } */
  
 
  /*** editing information paragraph **/
  p {
    margin-bottom: 20px;
    border-radius: 15px;
    font-family: 'Times New Roman';
    font-size: 130%;
  }
  #contentTypeID{
    font-family: verdana;
    font-size: 90%;
  
  }
  
  .menu {
    padding: 5px;
   
  
  
  }
  .searchForm{
    margin-bottom:25px;
    border-radius: 15px;
  
  }
  .foot-item-image:hover{
    /*width:300%; */
    opacity:0.9;
    /*max-height: 160px;
    height: auto;*/ 
  }
  .selectorsIMG{
    clear: both;
  }
  /****************Button***************/
  /* Container needed to position the button. Adjust the width as needed */
  .footer-item {
    position:relative;
    width: 20%;
  }
  
  /* Make the image responsive */
  .footer-item img {
    width: 10%;
    height: auto;
    position: relative; 
  }
  
  /* Style the button and place it in the middle of the container/image */
   .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    height: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    background-color: #4381e6;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: .1;
  }
  .footer-item:hover{
    opacity: .6;
  }
  
  
  
  /* #result{ */
    /* flex: center; 
    padding: 12px 24px;
  } */

@media(max-width: 700px){
  #InBigDivision{
    position: relative;
    height: auto;
  }
  .content{

    float:unset;
    height: 50%;
    width: 500px;
    position:center;
    margin: 0px;
  }

 
  #contentID{
    width: 40%;
    margin-left: 20px;
    margin-right: 200px;
    margin-bottom: 50px;

  }
  .page{ padding: 20px;
  margin:-40px;}

  .sidebar {
    float: initial;
    width: 400px;
    height: auto;
    padding: 30px;

  }
  p {
    margin:0;
    /* margin-bottom: 10px; */
    height: auto;
    
    width: auto;
    font-family: 'Times New Roman';
    font-size:110%;
    letter-spacing: 1px;
    position: center;
    
  }
  #contentTypeID{
    font-family: verdana;
    font-size: 40%;
    margin:center;
    width: auto;
    
  
  }
  #hideButtonId{
    padding: 10px;
    width: 15vw;
    height: 5vh;
    display: inline-block;
    background-color: rgb(227, 255, 234);
    border-radius: 9px;
    font-size: 15px;
    outline: none;
  }
  #searchButtonId{
    background-color: rgb(227, 255, 234);
    width: 9vw;
    border-radius: 9px;
  }

}

@media(min-width:700px){
  .page {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;             /* Add this */
    background-color: #EAEDF0;    /* Add this */
  }
  #hideButtonId{
    padding: 10px;
    width: 9vw;
    height: 5vh;
    display: inline-block;
    background-color: rgb(227, 255, 234);
    border-radius: 9px;
    font-size: 15px;
    outline: none;

  }
  #searchButtonId{
    background-color: rgb(227, 255, 234);
    width: 5vw;
    border-radius: 9px;
  }
  #contentID{
    
    margin-left: 20px;

    margin-bottom: 50px;
  }
}
  
  
  