.header-color {
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.landing-grid{
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.projects-grid{
  display:flex;

}

.avatar-img{
  height: 380px;
  padding-top: 5em;
  border-radius: 50%;
  opacity: .9;
  

}

.banner-text{
  background-color: black;
  opacity: .7;
  /* width: 75%; */
  width: auto;
  margin: auto;
  border-radius: 10px;
  
  
}



.banner-text h1{
  font-size: 65px;
  font-weight: bold;
  color:#BBD2C5;
}
.banner-text hr{
   border-top: 5px dotted #BBD2C5;
   width: 50%;
   margin:auto;
}
.banner-text p{
  color: #BBD2C5;
  font-size: 20px;
  padding: 1em;
}

.social-links{
display:inline;
justify-content: space-between;
/* width: auto; */
margin: auto;


}
.social-links i  {
  color:white;
  font-size:  5em;
  padding: 8px;
  
}

.codewars{
  
  height: 10vmin;
  margin-bottom: 4%;
  padding: 8px;
  border-radius: 50%;
  background: white;
}
/* Contact page css */
.contact-body{
  margin:auto;
  background: #BBD2C5; 
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5);  
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
 

}
.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  
  background:  #BBD2C5;;
  
  margin-bottom: 20px;
  overflow-y: scroll;


}

.contact-grid h2{
  font-family: 'Anton',sans-serif;
}

.contact-grid p{
  font-family:  'Oxygen', sans-serif;
  font-weight:bold;
}

.contact-list i{
  font-size: 60 px;
  padding-right:  4rem;
  
  margin-bottom: 20px;
}
/* Skills page css */
.skills-grid{
  margin:auto;
  background: #BBD2C5; 
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5);  
  position: fixed; 
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2rem;
  font-size: 25px;
  color:  #BBD2C5;
  overflow-y: scroll;
  overflow-x: scroll;
}
/* Resume */

/* About Me */
.aboutme-body{
  background: url(https://github.com/dhony05/dhony05.github.io/blob/master/imgs/img/canion.JPG?raw=true) no-repeat;
  background-size: cover;
  height: 100;
  width: auto;
  margin:auto;
  
}
 
.box{
  width: 450px;
  background: rbga(0,0,0,04);
  padding:40 px;
  text-align: center;
  margin: auto;
  margin-top: 5%; 
  color:white;
  font-family: 'Oxygen' , 'sans-serif';
 
 
  opacity: .9;
  
  
  border-radius: 10px;
} 

.box-img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  opacity: .9;
  
}

.box h1{
  font-size:  40;
  letter-spacing: 4px;
  font-weight: 100;

  
}
.box p{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  text-align: justify;

}
